<div class="container mt-5" style="text-align:center;">
    <div class="row-fluid">
        <div class="span2">
            <img style="width: 150px;" src="{{perfil.foto ? perfil.foto : 'https://myconstructor.gr/img/customers-imgs/avatar.png'}}"
                class="img-circle">
        </div>

        <div class="span8">
            <h3>{{perfil.nombre}} {{perfil.apellido}}</h3>
            <h6>@{{perfil.usuario}}</h6>
            <h6>#{{perfil.rol | rol}}</h6>
        </div>

    </div>
</div>