<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <h2><span class="badge badge-success">FLIPPI</span><span class="badge badge-dark">BAR</span></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" *ngIf="auth.isAuthenticated() == true">
      <li class="nav-item active">
        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" *ngIf="auth.getRol() == 10">
        <a class="nav-link" [routerLink]="[ '/Admin/ListEmpleados']">Empleados</a>
      </li>
      <li class="nav-item" *ngIf="auth.getRol() == 10">
        <a class="nav-link" [routerLink]="[ '/Admin/Pedidos']">Pedidos</a>
      </li>
      <li class="nav-item" *ngIf="auth.getRol() == 10">
        <a class="nav-link" [routerLink]="[ '/Admin/Mesas']">Mesas</a>
      </li>
      <li class="nav-item" *ngIf="auth.getRol() == 10">
        <a class="nav-link" [routerLink]="[ '/Admin/Estadisticas/Comentarios']">Comentarios</a>
      </li>
      <!--       <li class="nav-item dropdown" *ngIf="auth.getRol() == 10">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-chart-line"></i> Estadisticas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="[ '/Admin/Estadisticas/Empleados']"><i class="fas fa-user-friends"></i>
            Empleados</a>
          <a class="dropdown-item" [routerLink]="[ '/Admin/Estadisticas/Mesas']"><i class="far fa-dot-circle"></i>
            Mesas</a>
          <a class="dropdown-item" [routerLink]="[ '/Admin/Estadisticas/Platos']"><i class="fas fa-utensils"></i>
            Platos</a>
          <a class="dropdown-item" [routerLink]="[ '/Admin/Estadisticas/Comentarios']"><i class="fas fa-comments"></i>
            Comentarios</a>
        </div>
      </li> -->

      <li class="nav-item" *ngIf="auth.getRol() == 4">
        <a class="nav-link" [routerLink]="[ '/Empleado/Mozo/NuevaComanda']">Nuevo pedido</a>
      </li>
      <li class="nav-item" *ngIf="auth.getRol() == 4">
        <a class="nav-link" [routerLink]="[ '/Empleado/PedidosLive']">Pedidos en curso</a>
      </li>
      <li class="nav-item" *ngIf="auth.getRol() == 4">
        <a class="nav-link" [routerLink]="[ '/Empleado/Mozo/Mesas']">Mesas</a>
      </li>

      <li class="nav-item" *ngIf="auth.getRol() == 9">
        <a class="nav-link" [routerLink]="[ '/Cliente/BuscarPedido']">Buscar pedido</a>
      </li>

      <li class="nav-item" *ngIf="auth.getRol() == 9">
        <a class="nav-link" [routerLink]="['/Cliente/Encuesta']">Encuestas</a>
      </li>

      <li class="nav-item" *ngIf="auth.getRol() !== 9 && auth.getRol() !== 10 && auth.getRol() !== 4">
        <a class="nav-link" href="#">Pedidos actuales</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto navbar-right" *ngIf="auth.isAuthenticated() == true">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Perfil']">Perfil</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-dark btn-clear pull-right" (click)='Salir()'>Cerrar sesión</button>
      </li>
    </ul>
  </div>
</nav>