table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
   width: 16%;

  }

  .inputIsinvalid{
    border-color: red;
}
.btn-info
{
  margin-top: 1em;
  margin-bottom: 1em;
}

.tableBackground
{
    background-color: white;
    align-content: center;
}