<div class="container  col-xs-12 col-lg-4 login">
  <form>
    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" [(ngModel)]="user" name="user" class="form-control"/>

    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password"  [(ngModel)]="pass" name="pass" class="form-control"  />

    </div>
    <div class="form-group">
        <button class="btn btn-success" (click)="iniciar()">Entrar</button>
        <a [routerLink]="['/registrar']" style="color: white; font-size: 1em"  class="btn btn-link btn-lg">Registrase</a>
    </div>
</form>
<div class="container" style="justify-content: center;">
    <hr>
    <button  class="btn btn-success btn-sm m-1" (click)="admin()">Admin</button>
    <button  class="btn btn-success btn-sm m-1" (click)="cervecero()">Cervecero</button>
    <button  class="btn btn-success btn-sm m-1" (click)="cliente()">Cliente</button>
    <button  class="btn btn-success btn-sm m-1" (click)="mozo()">Mozo</button>
    <button  class="btn btn-success btn-sm m-1" (click)="cocinero()">Cocinero</button>
    <!-- <button  class="btn btn-primary btn-lg m-1" (click)="repostero()"><i class="fas fa-cookie-bite"></i></button> -->
    <button  class="btn btn-success btn-sm m-1" (click)="bartender()">Bartender</button>
    
</div>
</div>

