.container
{
    margin-top: 50px;
}
label{
    color:black;
}
.cervezaStyle
{
    
    background-color: white;
    
}

.bebidasStyle
{
    
    background-color: white;
}

.comidaStyle
{   
    
    background-color: white;
}

.postreStyle
{
    
    background-color: white;
}


ul,li{
    background: transparent;
}

.tableBackground
{
    background-color: white;
    align-content: center;
}

.borradorComanda{
    margin-top: 50px;
}


.flexproperty{
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.spinnert
{
    margin-left: 50%;

}

.inputIsinvalid{
    border-color: red;
}

label{
    color: white;
}

