<div class="container mx-auto col-lg-4 col-xs-12 paddingNav">
<div class="card text-center cardStyles">
  <div class="card-header">
    <h3 style="color:black;">Registrate</h3>
  </div>
  <div class="card-body">
    <form name="form" [formGroup]='formRegistrar'>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Nombre</label>
          <input type="text" class="form-control"  placeholder="Nombre" formControlName="nombre" [ngClass]="{'inputIsinvalid' : name.invalid && (name.dirty || name.touched)}">
          <div class="form-text text-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
            <small *ngIf="name.errors['required']">Debe ingresar un nombre</small>
            <small *ngIf="name.errors['minlength']">El nombre debe contener al menos 2 caracteres </small>
            <small *ngIf="name.errors['pattern']">El nombre debe contener solo letras</small>   
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputApellido4">Apellido</label>
          <input type="text" class="form-control"  placeholder="Apellido" formControlName="apellido" [ngClass]="{'inputIsinvalid' : surname.invalid && (surname.dirty || surname.touched)}">
          <div class="form-text text-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
            <small *ngIf="surname.errors['required']">Debe ingresar un apellido</small>
            <small *ngIf="surname.errors['minlength']">El apellido debe contener al menos 2 letras</small>
            <small *ngIf="surname.errors['pattern']">El apellido debe contener solo letras</small>   
            <small *ngIf="surname.errors['maxlength']">El apellido es muy largo</small>         
          </div>
        </div> 
      </div>
      <div class="form-group">
        <label for="inputUsuario">Usuario</label>
        <input type="text" class="form-control"  placeholder="Usuario" formControlName="usuario" [ngClass]="{'inputIsinvalid' : user.invalid && (user.dirty || user.touched)}">
        <div class="form-text text-danger" *ngIf="user.invalid && (user.dirty || user.touched)">
          <small *ngIf="user.errors['required']">Debe ingresar un usuario</small>
          <small *ngIf="user.errors['minlength']">El usuario debe contener al menos 2 caracteres </small> 
          <small *ngIf="user.errors['maxlength']">El usuario es muy largo</small>     
        </div>
      </div>
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <input type="password" class="form-control"  placeholder="Contraseña"  formControlName="pass"  [ngClass]="{'inputIsinvalid' : pass1.invalid && (pass1.dirty || pass1.touched), 'inputIsinvalid1' :pass2.invalid && (pass2.dirty || pass2.touched)}">
        <div class="form-text text-danger" *ngIf="pass1.invalid && (pass1.dirty || pass1.touched)">
          <small *ngIf="pass1.errors['required']">Debe ingresar una contraseña</small>
          <small *ngIf="pass1.errors['minlength']">El contraseña debe contener al menos 6 caracteres</small>
          <small *ngIf="pass1.errors['maxlength']">La contraseña es muy larga</small>     
        </div>
      </div>
      <div class="form-group">
        <label for="passDos">Confirmar contraseña</label>
        <input type="password" class="form-control"  placeholder="Contraseña"  appConfirmPassword="pass" formControlName="passDos" [ngClass]="{'inputIsinvalid' :pass2.invalid && (pass2.dirty || pass2.touched)}">
        <div class="form-text text-danger" *ngIf="pass2.invalid && (pass2.dirty || pass2.touched)">
          <small *ngIf="pass2.errors['required']">Debe confirmar la contraseña</small>
          <small *ngIf="pass2.errors['appConfirmPassword']">Las contraseñas no coinciden</small>
          <small *ngIf="!pass2.errors['appConfirmPassword'] && pass2.errors['minlength']">El contraseña debe contener al menos 6 caracteres</small>
        </div>
      </div>

      <div class="form-group">
          <label for="file">Subir foto</label>
          <input type="file" (change)="getImagen($event, imagen)" class="form-control"  placeholder="Foto" formControlName="file" [ngClass]="{'inputIsinvalid' :file.invalid && (file.dirty || file.touched)}">
          <div class="form-text text-danger" *ngIf="file.invalid && (file.dirty || file.touched)">
            <small *ngIf="file.errors['required']">Debe seleccionar una foto</small>
          </div>
        </div>      
      <button type="submit" class="btn btn-success" [disabled]="formRegistrar.invalid" (click)="GuardarNuevoUsuario()">Crear usuario</button>
    </form>
  </div>
  <div class="">
    <a [routerLink]="['/login']" style="color: 	black;">Iniciar sesión</a>
  </div>
</div>
</div>